![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [75]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

## ¿Qué escuelas de la ciudad de Nueva York tienen los mejores resultados en matemáticas?

Los mejores resultados en matemáticas son al menos el 80% de la puntuación máxima posible de 800 * en matemáticas.
Guarde sus resultados en un `DataFrame` de `pandas` llamado `best_math_schools`, incluidas las columnas `"school_name"`y `"average_math"`, ordenados `"average_math"`en orden descendente.

In [76]:
filter_sort_schools_math = schools[schools["average_math"] >= 800 * 0.8].sort_values("average_math", ascending = False)

In [77]:
best_math_schools = filter_sort_schools_math[["school_name", "average_math"]]

## ¿Cuáles son las 10 escuelas con mejor desempeño según los puntajes combinados del SAT?

Guarde sus resultados como un `DataFrame` de pandas llamado `top_10_schools`que contiene `"school_name"` y una nueva columna llamada `"total_SAT"`, con los resultados ordenados `"total_SAT"` en orden descendente.

In [78]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

In [79]:
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending = False).head(10)

In [80]:
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

## ¿Qué distrito tiene la desviación estándar más grande en el puntaje combinado del SAT?

Guarde sus resultados como un `DataFrame` de `pandas` llamado `largest_std_dev`.

1- El `DataFrame` debe contener una fila, con:

* `"borough"`- el nombre del distrito de Nueva York con la desviación estándar más grande de `"total_SAT"`.
* `"num_schools"`- el número de escuelas del municipio.
* `"average_SAT"`- la media de `"total_SAT"`.
* `"std_SAT"`- la desviación estándar de `"total_SAT"`.

2- Redondea todos los valores numéricos a dos decimales.

In [81]:
SAT_schools = schools[["school_name", "borough", "total_SAT"]].sort_values("total_SAT", ascending = False)

In [82]:
SAT_schools.head()

                                           school_name  ... total_SAT
88                              Stuyvesant High School  ...      2144
170                       Bronx High School of Science  ...      2041
93                 Staten Island Technical High School  ...      2041
174  High School of American Studies at Lehman College  ...      2013
333                        Townsend Harris High School  ...      1981

[5 rows x 3 columns]

In [83]:
std_dev_by_borough = SAT_schools.groupby("borough")['total_SAT'].std().reset_index()

In [84]:
std_dev_by_borough.head()

         borough   total_SAT
0          Bronx  150.393901
1       Brooklyn  154.868427
2      Manhattan  230.294140
3         Queens  195.252899
4  Staten Island  222.303596

In [85]:
max_std_borough_df = std_dev_by_borough[std_dev_by_borough["total_SAT"] == std_dev_by_borough["total_SAT"].max()]

In [86]:
num_schools_df = SAT_schools[SAT_schools["borough"] == "Manhattan"].count()

In [87]:
max_std_borough = max_std_borough_df["borough"]

In [88]:
num_schools = num_schools_df["borough"]

### Media de `total_SAT`

In [89]:
mean_by_borough = SAT_schools.groupby("borough")["total_SAT"].mean().reset_index()

In [90]:
mean_of_total_SAT_df = mean_by_borough[mean_by_borough["borough"] == "Manhattan"]

In [91]:
mean_of_total_SAT = mean_of_total_SAT_df["total_SAT"]

### STD de `total_SAT`

In [98]:
std_by_borough = SAT_schools.groupby("borough")["total_SAT"].std().reset_index()

In [99]:
std_of_total_SAT_df = std_by_borough[std_by_borough["borough"] == "Manhattan"]

In [100]:
std_of_total_SAT = std_of_total_SAT_df["total_SAT"]

### Crear DataFrame

In [94]:
largest_std_dev = pd.DataFrame()

In [101]:
largest_std_dev["borough"] =  max_std_borough
largest_std_dev["num_schools"] = num_schools
largest_std_dev["average_SAT"] = round(mean_of_total_SAT, 2)
largest_std_dev["std_SAT"] = round(std_of_total_SAT, 2)

In [102]:
largest_std_dev

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29